{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "material-ui/core": {
          "transform": "material-ui/core/${member}",
          "preventFullImport": true
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@/promiseTracker": "./src"
        }
      }
    ]
  ]
}
