# Exclude version control and dependency directories
.git
.gitignore
node_modules
.next
out
build
coverage
temp
old
# Ignore local env and config overrides
.env*
.env.local
.env.*

# OS / editor files
.DS_Store
.idea

# Test artifacts
playwright-report
blob-report
test-results

# vscode
.vscode

# Misc
script.js
documents
media
old
temp
tests