[submodule "src/commons-ui"]
	path = src/commons-ui
	url = https://github.com/CodeForAfrica/COMMONS-UI.git

[submodule "commons-ui"]
	path = commons-ui
	url = https://github.com/CodeForAfrica/COMMONS-UI.git
